
/* ============================================================== links ===== */

/*
 * Add an icon next to each external link.
 * A link is "external" if it begins with either 'http://' or 'https://'.
 * @see addIconToExternalLinks()
 */
.rst-content a.external-link img.external-link {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: baseline;
    width: 12px;
}

/* =================================================== images & figures ===== */

/*
 * Add a space between a figure and its legend.
 */
.rst-content figure figcaption {
    margin-top: 10px;
}

/* ============================================================= tables ===== */

.rst-content table.width-100-percent {
    width: 100%;
}

/*
 * Align table columns content to the left, up to the 5th column.
 * For example, add before the table:
 * .. rst-class:: "column-2-text-align-left column-5-text-align-left"
 */
.rst-content table.column-1-text-align-left td:nth-child(1) {
    text-align: left;
}
.rst-content table.column-2-text-align-left td:nth-child(2) {
    text-align: left;
}
.rst-content table.column-3-text-align-left td:nth-child(3) {
    text-align: left;
}
.rst-content table.column-4-text-align-left td:nth-child(4) {
    text-align: left;
}
.rst-content table.column-5-text-align-left td:nth-child(5) {
    text-align: left;
}

/*
 * Align table columns content to the center, up to the 5th column.
 * For example, add before the table:
 * .. rst-class:: "column-2-text-align-center column-5-text-align-center"
 */
.rst-content table.column-1-text-align-center td:nth-child(1) {
    text-align: center;
}
.rst-content table.column-2-text-align-center td:nth-child(2) {
    text-align: center;
}
.rst-content table.column-3-text-align-center td:nth-child(3) {
    text-align: center;
}
.rst-content table.column-4-text-align-center td:nth-child(4) {
    text-align: center;
}
.rst-content table.column-5-text-align-center td:nth-child(5) {
    text-align: center;
}

/*
 * Align table columns content to the right, up to the 5th column.
 * For example, add before the table:
 * .. rst-class:: "column-2-text-align-right column-5-text-align-right"
 */
.rst-content table.column-1-text-align-right td:nth-child(1) {
    text-align: right;
}
.rst-content table.column-2-text-align-right td:nth-child(2) {
    text-align: right;
}
.rst-content table.column-3-text-align-right td:nth-child(3) {
    text-align: right;
}
.rst-content table.column-4-text-align-right td:nth-child(4) {
    text-align: right;
}
.rst-content table.column-5-text-align-right td:nth-child(5) {
    text-align: right;
}
